<ion-header [translucent]="true">
  <ion-toolbar class="color">
    <ion-title> TecnoCar </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-img src="assets/imagenes/login2.svg" alt=""></ion-img>

  <ion-item>
    <ion-label position="floating" > Usuario </ion-label>
    <ion-input [(ngModel)]="usuario" placeholder="Ingrese su usuario"> </ion-input>
  </ion-item>

  <ion-item>
    <ion-label  position="floating" > Contraseña </ion-label>
    <ion-input [(ngModel)]="password" type="password" placeholder="Ingrese su contraseña"> </ion-input>
  </ion-item>
 
  <div>
    <ion-button (click)="iniciarSesion()" shape="block" class="color">Iniciar Sesión</ion-button>
  </div>
  <div>
    <ion-button [routerLink]="['/recuperar']" shape="block" >Recuperar Contraseña</ion-button>
  </div> 



    
</ion-content>
