<ion-content>
  <div class="ion-text-center">
    <img src="assets/imagenes/prueba.svg" class="img1"  shape="round"/>
  </div>

  <div class="container">
    <div class="form ion-text-center">
      <h2>TecnoCar</h2>

      <ion-item lines="none">
        <ion-input [(ngModel)]="usuario" placeholder="Usuario"></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-input
          [(ngModel)]="password"
          placeholder="Contraseña"
          type="password"
        ></ion-input>
      </ion-item>

      <ion-button
        expand="block"
        class="color"
        shape="round"
        (click)="iniciarSesion()"
      >
        Iniciar Sesión
      </ion-button>

      <ion-button
        [routerLink]="['/recuperar']"
        expand="block"
        class="color"
        shape="round"
      >
        Recuperar Contraseña
      </ion-button>
    </div>
  </div>
</ion-content>
