<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>
        {{ mensaje }} </ion-title>
    </ion-toolbar>

  </ion-header>


  <ion-content class="ion-padding ">
    
    <div>
      <ion-button [routerLink]="['/login']" class="my-button" >
        <ion-icon name="log-out-outline"></ion-icon>

        Salir</ion-button>
    </div> 
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar class="color">

      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>

      <ion-title> Home </ion-title>

    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding"> BIENVENIDO {{ mensaje }} 

</ion-content>
</div>
